 
  .main-container {
    width: 100%;
    padding: 2rem;
  }
  
  .form-title-container {
    text-align: center;
    margin-bottom: 1.5rem;
  }
  
  .form-title {
    font-size: 2.5rem;
    color: rgb(235, 120, 120);
    font-weight: bold;
  }
  
  /* Flexbox for form layout */
  .form-wrapper {
    display: flex;
    justify-content: center;
    padding: 1rem;
  }
  
  .form-container {
    background-color: #fffdfd;
    border-radius: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    width: 100%;
    max-width: 500px;
  }
  
  /* Form styling */
  .product-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-item {
    margin-bottom: 1.5rem;
  }
  
  .form-item label {
    font-size: 1.1rem;
    font-weight: 600;
    color: rgb(243, 121, 121);
    margin-bottom: 0.5rem;
  }
  
  .form-item input,
  .form-item textarea {
    width: 100%;
    padding: 0.8rem;
    border: 2px solid rgb(245, 158, 143);
    border-radius: 5px;
    background-color: #fff;
    font-size: 1rem;
  }
  
  .form-item input::placeholder,
  .form-item textarea::placeholder {
    color: #aaa;
  }
  
  /* Responsive Flexbox for form actions */
  .form-actions {
    display: flex;
    justify-content: center;
  }
  
  .submit-button {
    cursor: pointer;
    padding: 10px 20px;
    background-color: rgb(97, 175, 97);
    color: rgb(215, 235, 206);
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  .submit-button:hover {
    background-color: rgb(85, 153, 85);
  }

  .error-message{
    display: flex;
    justify-content: center;
    
  }

  .error-message p{
    width: 30rem;
    margin: 1rem;
    padding:0.5rem;
    background-color: #f07979;
    border:2px solid #cc1313;
    border-radius: 3px;
    text-align: center;
    color: white;
  }
  
  /* Responsive design */
  @media (max-width: 768px) {
    .form-container {
      padding: 1.5rem;
      width: 100%;
    }
  
    .form-title {
      font-size: 2rem;
    }
  
    .submit-button {
      font-size: 1.1rem;
      padding: 8px 15px;
    }
  }

  
  @media (max-width: 480px) {
    .form-title {
      font-size: 1.8rem;
    }
  
    .form-item input,
    .form-item textarea {
      font-size: 0.9rem;
      padding: 0.7rem;
    }
  
    .submit-button {
      font-size: 1rem;
    }
  }
  