.cart-container{
    background-color: azure;
}
.cart-title{
    margin: 0;
    text-align: center;
    border-bottom: 2px solid grey;
    padding-bottom: 0px;
}
.cart-view{
    background-color: rgb(252, 252, 252);
    margin: 0;
    padding: 1rem;
}
.cart-card{
    background-color: rgb(222, 247, 250);
    padding: 1rem;
    margin: 1rem;
    border-radius: 8px;
    box-shadow: 1px 4px 4px 0px  rgb(174, 228, 235) ;
}
.cart-product{
    display: flex;
    gap:1rem;
   
}
.cart-item-title{
    font-size: large;
    color: #2c2b2b;
}
.cart-item-price{
    font-size: large;
    font-weight: 600;
    color: rgb(231, 115, 107);
}
.cart-item-qty{
    font-size: large;
    font-weight: 600;    
}
.cart-item-qty span{
    color: rgb(231, 115, 107);
}
.removeCartItem{
    padding:5px;
}
.remove-btn{
    padding: 10px;
    background-color: rgb(245, 151, 151);
    color: white;
    border-radius: 5px;
    border: 2px solid white;
    font-size: medium;
    font-weight: 600;
}
.remove-btn:hover{
    background-color: rgb(241, 95, 95);
    cursor: pointer;
}

.amount-container{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    margin: 1rem;
    align-items: end;
    background-color: rgb(243, 212, 212);
    border-radius: 8px;
    box-shadow: 1px 4px 4px 0px  rgb(241, 172, 172) ;
}
.amount-container p{
    
    font-size: large;
    color: black;
    font-weight: 600;
}
.amount-container span{
    color: #db0a0a;
    margin-left: 1rem;
}

.checkout-btn{
    padding: 10px;
    margin: 1rem;
    font-size: medium;
    font-weight: 600;
    background-color: rgb(88, 175, 88);
    border-radius: 5px;
    border:2px solid rgb(247, 247, 247);
    color: rgb(243, 243, 243);
}
.checkout-btn:hover{
    background-color:rgb(54, 187, 54);
    cursor: pointer;
    border: 2px solid rgb(121, 235, 121);
}