//- this is to display the change the password page

doctype html
include ../includes/navigation.pug
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title= pageTitle
    link(rel="stylesheet" href="/navigation.css")
    link(rel="stylesheet" href="/login.css")
  body
    block navbar
    if errorMessage
            .error-message 
                p= errorMessage
    .container
        .login-container
            .login-form
                h2 Verify email to reset password
                form(action="/reset-password" method="post")
                    .form-group
                        label(for="email") Email
                        input(type="email" id="email" name="email" placeholder="Enter your email" required)
                    .form-group
                        input(type="hidden" name="_csrf" value=csrfToken)
                        button(type="submit" class="login-btn") verify
                        