doctype html
include ../includes/navigation.pug
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title= pageTitle
    link(rel="stylesheet" href="/navigation.css")
    link(rel="stylesheet" href="/login.css")
  body
    block navbar
    if errorMessage
            .error-message 
                p= errorMessage
    .container
        .login-container
            .login-form
                h2 Enter new password
                form(action=`/new-password/${token}` method="post")
                    .form-group
                        label(for="password") New Password
                        input(type="password" id="password" name="password" placeholder="Enter your password" required)
                    .form-group
                        input(type="hidden" name="_csrf" value=csrfToken)
                        button(type="submit" class="login-btn") Update Password
                        