//- view all the products at admin level
doctype html
include ../includes/navigation.pug
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title= pagetitle
    link(rel="stylesheet" href="/main.css")
  body
    block navbar
    .main-section
      h1 products
      .products-container
        if prods.length == 0
          p No products to display 
        else
          each product in prods
            .product
              img.product-img(src="https://www.dna-packaging.com/wp-content/uploads/2018/08/our-product-3.jpg" alt="productImg")
              h2.product-title= product.title
              p.product-des= product.description 
              h3.price  $ #{product.price}
              .change-btn-container
                a.edit-btn(href="/admin/edit-product/"+product.id) edit
                form(action="/admin/delete-product", method="POST")
                    button.delete-btn(type="submit") Delete