//- this is cart view at shop level
doctype html
include ../includes/navigation.pug
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title= pagetitle
    link(rel="stylesheet" href="/main.css")
  body
    block navbar
    .main-container 
      h1 This is cart page