//- this file to display the checkout items for the shop level user

//- this is cart view at shop level
doctype html
include ../includes/navigation.pug
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title= pageTitle
    link(rel="stylesheet" href="/navigation.css") 
    link(rel="stylesheet" href="/status-tracker.css")
    link(rel="stylesheet" href="/checkout.css")
  body
    block navbar
    include ../shop/cartStatus.pug
    .content-box 
        .form-container
            h2 Shipping Information
            form(action="/place-order" method="POST" class="add-form")
                .form-group
                    label(for="name") Full Name:
                    input(type="text" name="name" id="name" required placeholder="Enter your full name")
                .form-group
                    label(for="address") Address:
                    input(type="text" name="address" id="address" required placeholder="Enter your address")
                .form-group
                    label(for="city") City:
                    input(type="text" name="city" id="city" required placeholder="Enter your city")
                .form-group
                    label(for="postalCode") Postal Code:
                    input(type="text" name="postalCode" id="postalCode" required placeholder="Enter your postal code")
                .form-group
                    label(for="country") Country:
                    input(type="text" name="country" id="country" required placeholder="Enter your country")
                .form-group
                    label(for="phone") Phone Number:
                    input(type="text" name="phone" id="phone" required placeholder="Enter your phone number")
                .form-group
                    label(for="altPhone") Alternative Number:
                    input(type="text" name="altPhone" id="altPhone" placeholder="Enter an alternative number (optional)")
                .form-group
                    label Contact Type:
                    div.radio-group
                        label Work
                            input(type="radio" name="contactType" value="work" required) 
                        label Home
                            input(type="radio" name="contactType" value="home")
                        label other
                            input(type="radio" name="contactType" value="other") 
                input(type="hidden" name="_csrf" value=csrfToken)
                button(type="submit") Submit 