doctype html
include ../includes/navigation.pug
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title= pagetitle
    link(rel="stylesheet" href="/navigation.css")
    link(rel="stylesheet" href="/main.css")
  body
    block navbar
    .main-section 
      h1 This is the home page of my shop app
