doctype html
include ./includes/navigation.pug
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title= pagetitle
    link(rel="stylesheet" href="404.css")
    link(rel="stylesheet" href="main.css")
  body
    block navbar
    .error-container
      h1.error-title 404 Error
      p Requested page not responding. Try again later.
