<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Not responding | 404 Error</title>
    <link rel="stylesheet" href="404.css">
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <div class="header-section">
        <nav class="navbar">
            <div class="nav-container">
                <div class="title">My shop app</div>
                <div class="list-conatiner">
                    <ul class="list">
                        <li class="list-item">
                            <a href="/">
                                Home
                            </a>
                        </li>
                        <li class="list-item">
                            <a href="/add-product">
                                Add Products
                            </a>
                        </li>
                        <li class="list-item">
                            <a href="/view-products">
                                Products
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="error-container">
        <h1 class="error-title">404 Error</h1>
        <p>Requested page not responding. Try again later.</p>
    </div>
</body>
</html>