doctype html
html
  head
    title Something Went Wrong
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/500.css')  
  body
    .container
      .content
        h1 Sorry, something went wrong.
        a.button(href='/') Take me home
      .illustration
        img(src='https://cdn-icons-png.flaticon.com/512/9759/9759793.png', alt='Error illustration')  
