block navbar
.header-section
      nav.navbar
        .nav-container
          .title My shop app
          .list-conatiner
            ul.list
              li.list-item
                a(href="/home") Home
              li.list-item
                a(href="admin/add-product") Add Products
              li.list-item
                a(href="/view-products") Products
              li.list-item
                a(href="admin/productslist") Admin Products
              li.list-item
                a(href="shop/cart") Cart